@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 9.37rem;
  background-color: rgb(0, 0, 0);
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.navbar .logo-container .brand-name {
  font-size: 3.5rem;
  font-weight: 700;
  overflow: hidden;
  background: linear-gradient(to right, #c50000, #c50000 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease-in-out;
}
.navbar .logo-container:hover .brand-name {
  background-position: 0 100%;
}
.navbar .logo-container .logo-img {
  width: 5.5rem;
  margin-right: 0.5rem;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-links .nav-link a {
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-links .nav-link a:hover {
  color: #c50000;
}

main .change-theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin: 80px 0 30px;
}
main .change-theme-container .change-theme-input {
  width: 250px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 30px;
  margin-left: -20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
main .change-theme-container .change-theme-input:focus {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
main .change-theme-container .change-theme-btn {
  width: 250px;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 25px;
  outline: none;
  border: 3px solid #000000;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
main .change-theme-container .change-theme-btn:hover {
  background-color: #fff;
  color: #000000;
}
main .slider-container {
  position: relative;
  padding: 0 250px;
}
main .slider-container .scroll-group-title-container {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
main .slides {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
}
main .slides.active {
  cursor: -webkit-grab;
  cursor: grab;
}
main .slide {
  display: inline-block;
  margin-right: 50px;
  width: 350px;
  height: 350px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: normal;
}
main .slide:last-child {
  margin-right: 0;
}

footer {
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
footer .icon-container a {
  text-decoration: none;
}
footer .icon-container .social-icon {
  font-size: 30px;
  color: #ffffff;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
footer .icon-container .social-icon:hover {
  color: #c50000;
}
footer .icon-container .social-icon:last-child {
  margin-right: 0;
}
footer .footer-text {
  font-size: 1.2rem;
  color: #ffffff;
}
footer .footer-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  background: linear-gradient(to right, #c50000, #c50000 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease-in-out;
}
footer .footer-text a:hover {
  background-position: 0 100%;
}/*# sourceMappingURL=style.css.map */